.post-item {
    margin: 10px !important;
    text-align: left !important;
    border-radius: 15px;
    padding: 15px;
    background-color: rgb(138, 76, 252);
    color: white;
}

.link, .link:hover {
    color: white;
}
