.search {
    text-align: center !important;
    padding: 15px 0px;
    background-color: rgb(58, 3, 158);
    color: white;
}

.search-bar {
    width: 100% !important;
    border-radius: 20px !important;
}
